<div class="form-container">
<h1 class="centered-heading ">Feel at home, anywhere</h1>
<form action="/users/register" method="post">
  <Legend><h3 class="centered-heading ">Sign Up for Makers BnB</h3></Legend>
  <% if (typeof errorList != 'undefined') { %>
    <ul id="error-list" class="error-message-list">
    <% errorList.forEach((err) => { %>
      <% console.log(err.msg)%>
      <li class="alert-message warning" ><%= err.msg %></li>
    <% }) %>
    </ul>
  <% } %>
  <fieldset>
      <label for="first_name">First Name</label><br>
      <input type="text" class="form-field" name="first_name" placeholder="Enter First Name"
      value="<%= typeof first_name != 'undefined' ? first_name : '' %>"><br>
      <label for="last_name">Last Name</label><br>
      <input type="text" class="form-field" name="last_name" placeholder="Enter Last Name"
      value="<%= typeof last_name != 'undefined' ? last_name : '' %>"><br>
      <label for="email">Email Address</label><br>
      <input type="email"  class="form-field" name="email" placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"><br>
      <label for="password">Password</label><br>
      <input type="password" placeholder="Enter Password" class="form-field" name="password"
      value="<%= typeof password != 'undefined' ? password : '' %>"><br>
      <label for="password2">Confirm Password</label><br>
      <input type="password" class="form-field" name="password2" placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"><br>
    <button id="sign_up" type="submit" class="btn-primary">Sign Up</button>
  </fieldset>
</form>
</div>
